
@{
    ViewBag.Title = "Default";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div align="left"> 
    <h2 style="color: darkblue; font-family: fantasy; font-size: 50px">School Portal Management System</h2>
    <h4 style="color:lightseagreen">Admin</h4>
    <h4>Please login with admin credentials to add records of students or teachers using admin login link</h4>
    <h4>If you dont have account please use register link to register</h4>
    <h4 style="color:lightseagreen">Teachers</h4>
    <h4>Please login with teacher credentials provided by admin to see list of students and assign grades to <br/> students using teacher login link</h4>
    <h4 style="color:lightseagreen">Students</h4>
    <h4>Please login with student credentials provided by admin to check your grades in the courses using <br/> student login link</h4>
</div>


