
@{
    ViewBag.Title = "RegisterSuccess";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<h2 style="color: darkblue; font-family: fantasy;">Admin Role is succesfully registered</h2>
<h2 style="color: darkblue; font-family: fantasy;">Please login with admin credentials to add records of students or teachers</h2>
