<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Admin Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Admin Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Teacher Log in", "TeacherLogin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Student Log in", "StudentLogin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
